@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Playfair Display', serif; }

header {
  display: grid;
  grid-template-columns: 100px 175px auto;
  grid-template-rows: none;
  justify-content: none;
  align-items: none;
  width: 100%;
  height: 50px;
  display: grid;
  background-color: white; }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: center;
    width: auto;
    height: 50px;
    justify-self: end; }
    header nav ul {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      width: 100%;
      height: 50px;
      gap: 15px;
      margin-right: 20px;
      list-style-type: none; }
      header nav ul li a {
        text-decoration: none;
        color: black;
        font-size: 25px;
        background-color: #d9d9d9;
        border: solid black;
        border-radius: 15%;
        padding: 0px 5px; }
    header nav div {
      display: flex;
      flex-direction: row;
      justify-content: none;
      align-items: center;
      width: 50px;
      height: 50px; }
      header nav div img {
        width: 30px;
        height: 25px; }

.logo-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none; }
  .logo-header img {
    width: 50px;
    height: 50px;
    align-items: start;
    padding: 0px; }

.titulo-header {
  width: 175px;
  height: 40px;
  font-size: 20px;
  justify-self: start; }

.main-index {
  font-family: 'Playfair Display', serif;
  background-color: black;
  background-image: url(../assets/img-fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.main-index-seccion1 {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px; }
  .main-index-seccion1 h1, .main-index-seccion1 .main-info h2, .main-info .main-index-seccion1 h2 {
    color: white;
    font-size: 50px;
    text-shadow: 4px 4px black; }
  .main-index-seccion1 img {
    width: 215px;
    height: 215px; }

.seccion-cards-index {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 40px; }

.index-grid {
  width: 90%;
  height: 480px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 62px 300px 62px;
  grid-template-areas: "socks llaveros pañuelos"  "img1 img2 img3"  "scrunchies pilusos calcos"; }
  .index-grid h3 {
    background-color: #d9d9d9;
    width: 336px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin: 5px; }
    .index-grid h3:hover {
      transform: scale(1.1); }

.socks-main {
  grid-area: socks; }

.llaveros-main {
  grid-area: llaveros; }

.panuelos-main {
  grid-area: pañuelos; }

.scrunchies-main {
  grid-area: scrunchies; }

.pilusos-main {
  grid-area: pilusos; }

.calcos-main {
  grid-area: calcos; }

.img-main1 {
  grid-area: img1;
  align-self: center;
  justify-self: center; }

.img-main2 {
  grid-area: img2;
  width: 194px;
  height: 215px;
  align-self: center;
  justify-self: center; }

.img-main3 {
  grid-area: img3;
  width: 194px;
  height: 215px;
  align-self: center;
  justify-self: center; }

.main-tienda {
  font-family: 'Playfair Display', serif;
  background-color: black;
  background-image: url(../assets/img-fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .main-tienda h1, .main-tienda .main-info h2, .main-info .main-tienda h2 {
    text-align: center;
    color: #d9d9d9;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 4px 4px black; }
  .main-tienda section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center; }

.tienda-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: none;
  grid-template-areas: "card-tienda1 card-tienda2 card-tienda3 card-tienda4" "card-tienda5 card-tienda6 card-tienda7 card-tienda8";
  width: 90%;
  height: auto;
  gap: 30px;
  padding-bottom: 40px; }
  .tienda-grid a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 350px;
    background-color: #d9d9d9;
    border-radius: 15px;
    text-decoration: none;
    transition: 400ms; }
    .tienda-grid a:hover {
      transform: scale(1.1); }
    .tienda-grid a img {
      width: 213px;
      height: 250px; }
    .tienda-grid a h3 {
      color: black;
      padding-top: 16px; }
    .tienda-grid a p {
      color: black;
      padding-top: 16px;
      text-decoration: underline; }

.gorro {
  grid-area: card-tienda1; }

.tennis {
  grid-area: card-tienda2; }

.panuelo {
  grid-area: card-tienda3; }

.medida-cana {
  grid-area: card-tienda4; }

.piluso {
  grid-area: card-tienda5; }

.scrunchies {
  grid-area: card-tienda6; }

.soquetes {
  grid-area: card-tienda7; }

.calco {
  grid-area: card-tienda8; }

.main-info {
  font-family: 'Playfair Display', serif;
  background-color: black;
  background-image: url(../assets/img-fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .main-info h1, .main-info h2 {
    text-align: center;
    color: #d9d9d9;
    font-size: 30px;
    padding-top: 30px;
    text-shadow: 4px 4px black; }

.seccion-principal-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px; }
  .seccion-principal-info div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: none;
    background-color: #d9d9d9;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%; }
    .seccion-principal-info div:hover {
      transform: scale(1.1); }
    .seccion-principal-info div img {
      padding: 16px 50px; }

.seccion-secundaria-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  padding: 50px; }
  .seccion-secundaria-info div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: none;
    background-color: #d9d9d9;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center; }
    .seccion-secundaria-info div:hover {
      transform: scale(1.1); }
    .seccion-secundaria-info div img {
      padding: 16px 50px; }

.main-contacto {
  font-family: 'Playfair Display', serif;
  background-color: black;
  background-image: url(../assets/img-fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 720px; }
  .main-contacto h1, .main-contacto .main-info h2, .main-info .main-contacto h2 {
    text-align: center;
    color: #d9d9d9;
    font-size: 30px;
    padding: 30px;
    text-shadow: 4px 4px black; }
  .main-contacto section {
    display: flex;
    justify-content: center;
    padding-bottom: 80px; }
    .main-contacto section form fieldset {
      display: flex;
      flex-direction: column;
      width: 700px;
      height: auto;
      gap: 40px; }
      .main-contacto section form fieldset label {
        display: flex;
        width: 100%;
        padding-left: 10px; }
        .main-contacto section form fieldset label span {
          color: #d9d9d9;
          width: 70px; }
        .main-contacto section form fieldset label input {
          width: 600px; }
    .main-contacto section form div {
      display: flex;
      justify-content: center;
      padding-top: 16px; }

.nombre {
  padding-top: 30px; }

.mensaje {
  height: 200px;
  padding-bottom: 30px; }

.main-inicio-sesion {
  font-family: 'Playfair Display', serif;
  background-color: black;
  background-image: url(../assets/img-fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 720px; }
  .main-inicio-sesion h1, .main-inicio-sesion .main-info h2, .main-info .main-inicio-sesion h2 {
    text-align: center;
    color: #d9d9d9;
    font-size: 30px;
    padding: 30px;
    text-shadow: 4px 4px black; }
  .main-inicio-sesion section {
    padding-top: 50px;
    padding-bottom: 50px; }
    .main-inicio-sesion section div {
      display: flex;
      justify-content: center; }
      .main-inicio-sesion section div form {
        display: flex;
        justify-content: center;
        flex-direction: column; }
        .main-inicio-sesion section div form fieldset {
          display: flex;
          width: 700px;
          height: auto;
          flex-direction: column;
          gap: 40px;
          padding: 30px; }
          .main-inicio-sesion section div form fieldset label {
            display: flex;
            width: 100%;
            gap: 5px; }
            .main-inicio-sesion section div form fieldset label span {
              color: #d9d9d9;
              width: 83px; }
            .main-inicio-sesion section div form fieldset label input {
              width: 587px; }
        .main-inicio-sesion section div form div {
          display: flex;
          justify-content: center;
          padding-top: 16px; }

.seccion-secundario-inicio-sesion div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d9d9d9;
  gap: 16px;
  padding-bottom: 30px; }
  .seccion-secundario-inicio-sesion div a {
    color: #d9d9d9; }

footer {
  display: flex;
  width: 100%;
  height: 100px; }
  footer .iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 20px; }

.icono-wa {
  width: 35px;
  height: 35px; }

.icono-ig {
  width: 32px;
  height: 32px; }

.logo-footer {
  width: 100px;
  height: 100px; }

@media (max-width: 1024px) {
  .seccion-cards-index {
    display: flex;
    width: 100%;
    justify-content: center; }
    .seccion-cards-index .index-grid {
      justify-self: center;
      align-items: center; }
      .seccion-cards-index .index-grid h3 {
        width: 300px; }
  .tienda-grid a {
    width: 200px;
    height: 300px; }
    .tienda-grid a img {
      width: 180px;
      height: 210px; } }

.main-inicio-sesion {
  height: auto; }

@media (max-width: 768px) {
  header {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 50px 50px;
    grid-template-areas: "logo titulo" ". nav"; }
    header nav {
      height: 50px;
      grid-area: nav;
      justify-self: center; }
      header nav ul li a {
        font-size: 16px; }
  .logo-header {
    width: 100px;
    height: 100px;
    margin: 0; }
    .logo-header img {
      width: 100px;
      height: 100px; }
  .titulo-header {
    grid-area: titulo;
    justify-self: center;
    padding-top: 5px; }
  .nav {
    height: 50px;
    grid-area: nav;
    justify-self: center; }
  .navbar li a {
    font-size: 16px; }
  footer {
    width: 100%; }
  .index-grid {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "socks img1" "llaveros img1" "panuelos img1" "scrunchies img2 " "pilusos img2" "calcos img2"; }
  .img-main1 {
    align-self: center;
    justify-self: end;
    grid-area: img1; }
  .img-main2 {
    width: 194px;
    height: 215px;
    align-self: center;
    justify-self: end;
    grid-area: img2; }
  .img-main3 {
    width: 194px;
    height: 215px;
    align-self: center;
    justify-self: center;
    display: none; }
  .socks-main {
    background-color: #d9d9d9;
    width: 336px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin: 5px;
    grid-area: socks; }
  .llaveros-main {
    background-color: #d9d9d9;
    width: 336px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin: 5px;
    grid-area: llaveros; }
  .panuelos-main {
    background-color: #d9d9d9;
    width: 336px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin: 5px;
    grid-area: panuelos; }
  .scrunchies-main {
    background-color: #d9d9d9;
    width: 336px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin: 5px;
    grid-area: scrunchies; }
  .pilusos-main {
    background-color: #d9d9d9;
    width: 336px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin: 5px;
    grid-area: pilusos; }
  .calcos-main {
    background-color: #d9d9d9;
    width: 336px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin: 5px;
    grid-area: calcos; }
  .tienda-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "card-tienda1 card-tienda2" "card-tienda3 card-tienda4" "card-tienda5 card-tienda6" "card-tienda7 card-tienda8"; }
    .tienda-grid a {
      justify-self: center; }
  .seccion-principal-info div {
    width: 160px;
    height: 160px;
    justify-content: center; }
    .seccion-principal-info div img {
      width: 75px;
      height: 60px;
      padding: 0px;
      margin-top: 20px; }
    .seccion-principal-info div h3 {
      font-size: 16px;
      padding-top: 20px; }
  .seccion-secundaria-info div {
    width: 160px;
    height: 160px;
    justify-content: center; }
    .seccion-secundaria-info div img {
      width: 75px;
      height: 60px;
      padding: 0px;
      margin-top: 20px; }
    .seccion-secundaria-info div h3 {
      font-size: 16px;
      padding-top: 15px; }
  .seccion-inicio-sesion {
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center; }
  .contenedor-formulario-inicio-sesion {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px; }
  .formulario-inicio-sesion {
    width: 90%; }
  .input-email-inicio-sesion {
    width: auto; }
  .input-pass-inicio-sesion {
    width: auto; } }

@media (max-width: 425px) {
  header {
    display: flex;
    width: 100%;
    height: 550px;
    flex-direction: column; }
    header nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 50px;
      align-items: center; }
      header nav ul {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-content: end;
        padding-top: 25px;
        gap: 40px;
        margin: 0px; }
        header nav ul li a {
          font-size: 20px;
          background-color: #d9d9d9;
          border: solid black;
          border-radius: 15%;
          padding: 0px 5px; }
      header nav div {
        width: 30px;
        display: flex;
        align-content: end; }
  .logo-header {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 0px;
    margin: 0px;
    justify-content: center; }
    .logo-header img {
      width: 100px;
      height: 100px; }
  .titulo-header {
    display: none; }
  .main-index-seccion1 {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 20px;
    align-items: center; }
  .main-index-seccion1 h1, .main-index-seccion1 .main-info h2, .main-info .main-index-seccion1 h2 {
    font-size: 30px; }
  .logo-main {
    width: 100px;
    height: 100px;
    display: flex; }
  .index-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "socks" "llaveros" "panuelos" "scrunchies" "pilusos" "calcos"; }
  .img-main1 {
    display: none; }
  .img-main2 {
    display: none; }
  .main-index {
    width: 100%;
    height: auto; }
  .socks-main {
    width: 200px;
    height: 50px; }
  .llaveros-main {
    width: 200px;
    height: 50px; }
  .panuelos-main {
    width: 200px;
    height: 50px; }
  .scrunchies-main {
    width: 200px;
    height: 50px; }
  .pilusos-main {
    width: 200px;
    height: 50px; }
  .calcos-main {
    width: 200px;
    height: 50px; }
  .tienda-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "card-tienda1" "card-tienda2" "card-tienda3" "card-tienda4" "card-tienda5" "card-tienda6" "card-tienda7" "card-tienda8"; }
    .tienda-grid a {
      justify-self: center; }
  .seccion-principal-info {
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 30px; }
    .seccion-principal-info div {
      width: 120px;
      height: 120px;
      justify-content: center; }
      .seccion-principal-info div img {
        width: 50px;
        height: 50px;
        padding: 0px;
        margin-top: 20px; }
      .seccion-principal-info div h3 {
        font-size: 10px;
        padding-top: 10px; }
  .seccion-secundaria-info div {
    width: 120px;
    height: 120px;
    justify-content: center; }
    .seccion-secundaria-info div img {
      width: 50px;
      height: 50px;
      padding: 0px;
      margin-top: 20px; }
    .seccion-secundaria-info div h3 {
      font-size: 10px;
      padding: 5px 25px; }
  .main-contacto section form fieldset {
    width: 400px; }
    .main-contacto section form fieldset label input {
      width: 280px; }
  .main-inicio-sesion section div form {
    width: 400px; }
    .main-inicio-sesion section div form fieldset {
      width: 400px; }
      .main-inicio-sesion section div form fieldset label input {
        width: 250px; } }

@media (max-width: 375px) {
  .main-contacto section form fieldset {
    width: 350px; }
    .main-contacto section form fieldset label input {
      width: 175px; }
  .main-inicio-sesion section div form {
    width: 350px; }
    .main-inicio-sesion section div form fieldset {
      width: 350px; }
      .main-inicio-sesion section div form fieldset label input {
        width: 175px; } }

@media (max-width: 320px) {
  .index-grid h3 {
    width: 300px; }
  .main-contacto section form fieldset {
    width: 300px; }
    .main-contacto section form fieldset label input {
      width: 150px; }
  .main-inicio-sesion section div form {
    width: 300px; }
    .main-inicio-sesion section div form fieldset {
      width: 300px; }
      .main-inicio-sesion section div form fieldset label input {
        width: 150px; } }
