.main-contacto{
    font-family: 'Playfair Display', serif;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 720px;
    h1{
        text-align: center;
        color: $colorPrincipal;
        font-size: 30px;
        padding: 30px;
        text-shadow: 4px 4px black;
    }
    section{
        display: flex;
        justify-content: center;
        padding-bottom: 80px;
        form{
            fieldset{
                display: flex;
                flex-direction: column;
                width: 700px;
                height: auto;
                gap: 40px;
                label{
                    display: flex;
                    width: 100%;
                    padding-left: 10px;
                    span{
                        color: $colorPrincipal;
                        width: 70px;
                    }
                    input{
                        width: 600px;
                    }
                }
            }
            div{
                display: flex;
                justify-content: center;
                padding-top: 16px;
            }
        }
    }
}


.nombre{
    padding-top: 30px;
}
.mensaje{
    height: 200px;
    padding-bottom: 30px;
}