.main-info{
    font-family: 'Playfair Display', serif;
    background-color: rgb(0, 0, 0);
    background-image: url(../assets/img-fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    h1{
        text-align: center;
        color: $colorPrincipal;
        font-size: 30px;
        padding-top: 30px;
        text-shadow: 4px 4px black;
    }
    h2{
        @extend h1;
    }
}

.seccion-principal-info{
    @include flex (row, space-around, none);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    div{
        @include flex (row, center, none);
        background-color: $colorPrincipal;
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        &:hover{
            transform: scale(1.1);
        }
        img{
            padding: 16px 50px;
        }
    }
}

.seccion-secundaria-info{
    @include flex (row, center, none);
    padding: 50px;
    div{
        @include flex (row, center, none);
        background-color: $colorPrincipal;
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        text-align: center;
        &:hover{
            transform: scale(1.1);
        }
        img{
            padding: 16px 50px;
        }
    }
}