@media(max-width:1024px){

    .seccion-cards-index{
        display: flex;
        width: 100%;
        justify-content: center;
        .index-grid{
            justify-self: center;
            align-items: center;
            h3{
                width: 300px;
            }
        }
    }


    .tienda-grid{
        a{
            width: 200px;
            height: 300px;
            img{
                width: 180px;
                height: 210px;
            }
        }
    }


}

.main-inicio-sesion{
    height: auto;
}